<div class="table">
  <div class="user_message_link">
    <div class="header">
      <strong><%= message.user.name %></strong><%= l message.created_at %>
    </div>
    <div class="body">
      <%= message.body %>
    </div>
  </div>
</div>
