<div class="table">
  <div class= "user_message_column">
    <div class= "header col-lg-2">
      <strong><%= message.user.name %></strong>
    </div>
    <div class= "body col-lg-10" >
      <div class= "message-content">
        <%= message.body %>
      </div>
      <div class= "text-right">
        <%= l message.created_at %>
      </div>
    </div>
  </div>
</div>
