===============================
<%= @user.name %>様
===============================

この度はアカウント登録頂きましてありがとうございます。
ユーザー名: <%= @user.name %>
メールアドレス: <%= @user.email %>

<p><a href='https://desolate-meadow-63105.herokuapp.com'>当サイト：my_confidence</a></p>
