<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="text-center">
        <h2>ユーザー情報</h2>
      </div>
      <%= render partial: "users/myuser_info" %>
    </div>

    <div class="col-md-8 mt-3">
      <div class="text-center">
        <h2>登録されたユーザーさん</h2>
      </div>
      <%= render partial: "users/other_info", locals: {users: @users} %>
    </div>
  </div>
</div>
<div class="space">
  <%= paginate @users, window: 3 %>
</div>
