<h2>登録されたユーザーさん</h2>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr>
      <th><%= t('view.name') %></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <% if current_user.id == user.id %>
        <td class="warning"><%= link_to user.name, user_path(user) %>さん（ユーザー自身）</td>
      <% else %>
        <td><%= link_to user.name, user_path(user) %>さん</td>
      <% end %>
    </tr>
  <% end %>
</table>
