<div class="container-fluid">
  <h1 class="top_heading">アクションタグ一覧 </h1>
  <table class="table">
    <div>
      <tr>
        <th>アクションタグ名</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </div>
    <% @tags.each do |tag| %>
    <div>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to '編集', edit_tag_path(tag), class: "btn btn-success" %></td>
        <td><%= link_to '削除', tag_path(tag), method: :delete, class: "btn btn-default" %></td>
      </tr>
    </div>
    <% end %>
  </table>
  <div class="submit_row">
    <%= link_to '新しいラベル', new_tag_path, class: "btn btn-primary" %>
  </div>
</div>
