// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// index

// エラーメッセージ
#error_explanation .error_message {
  margin-left :-40px;
}

.table .user_message_column {
  padding: 1rem;
  background: white;
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 8px;
  display: flex;
}

.body .message-content {
  font-size: 1.1rem;
}

.body .text-right {
  font-size: 0.9rem;
}
