/* トップページ */
.display-4{
  font-style: italic;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 4rem;
}

.main-container {
  background: image-url('/main_picture.jpg');
  height: 300px;
  background-size: cover;
}

.main-page{
  padding-top:30px;
}

.display-4, pt-3, .lead{
  color: white;
}
