<section class="copyright pt-2 text-center text-white fixed-bottom">
  <div class="container">
    <small class="footer">my_confidence</small>
    <div class="contact">
      <%= link_to "お問い合わせはこちら", new_contact_path, class: "mr-3 mt-3 text-white" %>
    </div>
  </div>
</section>
