<section class="copyright pt-2 pb-2 text-center text-white fixed-bottom">
  <div class="container">
    <small class="footer">my_confidence</small>
    <div class="contact">
      <% if user_signed_in? %>
        <%= link_to "お問い合わせはこちら", new_contact_path, class: "mr-2 mt-2 text-white" %>
      <% end %>
    </div>
  </div>
</section>
